:root{
    --bg-color: #E5E5E5;
    --primary-text-color: #000000;
    --secondary-text-color:#FFFFFF;
    --placeholder-text-color: #939EAC;
    --bg-button: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
}