<div class="header-bg">
  <header class="header">
    <div class="container header-container">
      <div class="header-block">
        <div class="header_logo--box">
          <a href="#" class="header_logo">Mobileapp</a>
        </div>

        <button
          class="header_btn js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        ></button>

        <nav class="header_nav">
          <ul class="header_list">
            <li class="header_item">
              <a href="#hero" class="header_link scroll-to">HOME</a>
            </li>
            <li class="header_item">
              <a href="#feauter" class="header_link scroll-to">FEATURES</a>
            </li>
            <li class="header_item">
              <a href="#team" class="header_link scroll-to">TEAM</a>
            </li>
            <li class="header_item">
              <a href="#testimonials" class="header_link scroll-to"
                >TESTIMONIALS</a
              >
            </li>
            <li class="header_item">
              <a href="#contact" class="header_link scroll-to">CONTACT</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</div>
