<!-- ЦЕ МОЯ КНОПКА DOWNLOAD ДЛЯ ТЕСТУ -->
<!-- <button type="button" class="button-accent" data-modal-open> -->
<!-- Download -->
<!-- </button> -->
<!-- back drop -->
<div class="backdrop is-hidden2" data-modal2>
  <div class="modal">
    <button type="button" class="button-close" data-modal-close2></button>
    <form class="form-order">
      <div class="form-order__set">
        <legend class="form-order__caption">Download</legend>
        <ul role="none" class="form-order__list">
          <li class="form-order__item">
            <div class="form-order__background">
              <span class="icon-download"></span>
              <label
                class="form-order__label form-order--agreement"
                for="check-free"
              >
                Download free plan
                <input
                  class="form-order__checkbox"
                  type="checkbox"
                  name="check-free"
                  id="check-free"
                />
              </label>
              <div class="form-order__card">
                <span class="icon-check"></span>
                <span class="form-order__text-agreement"
                  >Donec posuere augue venenatis, aliquet</span
                >
              </div>
              <div class="form-order__card">
                <span class="icon-check"></span>
                <span class="form-order__text-agreement"
                  >Donec posuere augue venenatis, aliquet</span
                >
              </div>
            </div>
          </li>
          <li class="form-order__item">
            <div class="form-order__background">
              <span class="icon-download"></span>
              <label
                class="form-order__label form-order--agreement"
                for="check-paid"
              >
                Download for 20$
                <input
                  class="form-order__checkbox"
                  type="checkbox"
                  name="check-paid"
                  id="check-paid"
                />
              </label>
              <div class="form-order__card">
                <span class="icon-check"></span>
                <span class="form-order__text-agreement"
                  >Donec posuere augue venenatis, aliquet</span
                >
              </div>
              <div class="form-order__card">
                <span class="icon-check"></span>
                <span class="form-order__text-agreement"
                  >Donec posuere augue venenatis, aliquet</span
                >
              </div>
              <div class="form-order__card">
                <span class="icon-check"></span>
                <span class="form-order__text-agreement"
                  >Donec posuere augue venenatis, aliquet</span
                >
              </div>
            </div>
          </li>
        </ul>
      </div>
      <p class="form-order__description">
        Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque
        neque. In sit amet lectus non lacus
      </p>
      <ul class="properties">
        <li class="properties__block">
          <ul class="properties__list">
            <li class="properties__item">
              <span class="icon-property icon-property--1"></span>
              <div class="icon-property-container">
                <span class="properties__parameter">App name</span>
                <span class="properties__value">Mobileapp.layout</span>
              </div>
            </li>
            <li class="properties__item">
              <span class="icon-property icon-property--2"></span>
              <div class="icon-property-container">
                <span class="properties__parameter">License</span>
                <span class="properties__value">Free</span>
              </div>
            </li>
            <li class="properties__item">
              <span class="icon-property icon-property--3"></span>
              <div class="icon-property-container">
                <span class="properties__parameter">Author</span>
                <span class="properties__value">Mobile Marrket App.com</span>
              </div>
            </li>
            <li class="properties__item">
              <span class="icon-property icon-property--4"></span>
              <div class="icon-property-container">
                <span class="properties__parameter">Data</span>
                <span class="properties__value">21.02.2022</span>
              </div>
            </li>
          </ul>
        </li>
        <li class="properties__block properties__block--second">
          <ul class="properties__list">
            <li class="properties__item">
              <span class="icon-property icon-property--5"></span>
              <div class="icon-property-container">
                <span class="properties__parameter">OC</span>
                <span class="properties__value">Windows</span>
              </div>
            </li>
            <li class="properties__item">
              <span class="icon-property icon-property--6"></span>
              <div class="icon-property-container">
                <span class="properties__parameter">Language</span>
                <span class="properties__value">English</span>
              </div>
            </li>
            <li class="properties__item">
              <span class="icon-property icon-property--7"></span>
              <div class="icon-property-container">
                <span class="properties__parameter">Size</span>
                <span class="properties__value">4.16 MB</span>
              </div>
            </li>
            <li class="properties__item">
              <span class="icon-property icon-property--8"></span>
              <div class="icon-property-container">
                <span class="properties__parameter">Downloads</span>
                <span class="properties__value">964</span>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <button type="submit" class="button-accent" download>Download</button>
    </form>
  </div>
</div>
