<section
  class="testimonials testimonials-slider"
  id="testimonials"
  data-slider="team-slider"
>
  <div class="container-testimonials">
    <h2 class="section-title testimonials__title">WHAT OUR COSTUMER’S SAY</h2>
    <div class="swiper testimonials__slider">
      <ul class="swiper-wrapper">
        <li class="swiper-slide testimonials__item">
          <img
            src="./images/swiper1x-mobile.jpg"
            srcset="./images/swiper2x-mobile.jpg 2x"
            alt="One of COSTUMER"
            class="testimonials__image"
          />
          <h3 class="testimonials__name">Jon Doe</h3>
          <p class="testimonials__position">Company Inc.</p>
          <div class="testimonials__desk">
            <p class="testimonials__text">
              Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
              venenatis. semper libero nec sapien condimentum dignissim. Nunc
              ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla
              facilisi. Nullam tristique eros quis nibh tempus, vel viverra
              dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet
              ante a tempus. Aenean gravida massa et ante pulvinar, id
            </p>
          </div>
        </li>

        <li class="swiper-slide testimonials__item">
          <img
            src="./images/swiper1x-mobile.jpg"
            srcset="./images/swiper2x-mobile.jpg 2x"
            alt="One of COSTUMER"
            class="testimonials__image"
          />
          <h3 class="testimonials__name">Jon Doe</h3>
          <p class="testimonials__position">Company Inc.</p>
          <div class="testimonials__desk">
            <p class="testimonials__text">
              Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
              venenatis. semper libero nec sapien condimentum dignissim. Nunc
              ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla
              facilisi. Nullam tristique eros quis nibh tempus, vel viverra
              dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet
              ante a tempus. Aenean gravida massa et ante pulvinar, id
            </p>
          </div>
        </li>
        <li class="swiper-slide testimonials__item">
          <img
            src="./images/swiper1x-mobile.jpg"
            srcset="./images/swiper2x-mobile.jpg 2x"
            alt="One of COSTUMER"
            class="testimonials__image"
          />
          <h3 class="testimonials__name">Jon Doe</h3>
          <p class="testimonials__position">Company Inc.</p>
          <div class="testimonials__desk">
            <p class="testimonials__text">
              Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
              venenatis. semper libero nec sapien condimentum dignissim. Nunc
              ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla
              facilisi. Nullam tristique eros quis nibh tempus, vel viverra
              dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet
              ante a tempus. Aenean gravida massa et ante pulvinar, id
            </p>
          </div>
        </li>
        <li class="swiper-slide testimonials__item">
          <img
            src="./images/swiper1x-mobile.jpg"
            srcset="./images/swiper2x-mobile.jpg 2x"
            alt="One of COSTUMER"
            class="testimonials__image"
          />
          <h3 class="testimonials__name">Jon Doe</h3>
          <p class="testimonials__position">Company Inc.</p>
          <div class="testimonials__desk">
            <p class="testimonials__text">
              Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
              venenatis. semper libero nec sapien condimentum dignissim. Nunc
              ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla
              facilisi. Nullam tristique eros quis nibh tempus, vel viverra
              dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet
              ante a tempus. Aenean gravida massa et ante pulvinar, id
            </p>
          </div>
        </li>
        <li class="swiper-slide testimonials__item">
          <img
            src="./images/swiper1x-mobile.jpg"
            srcset="./images/swiper2x-mobile.jpg 2x"
            alt="One of COSTUMER"
            class="testimonials__image"
          />
          <h3 class="testimonials__name">Jon Doe</h3>
          <p class="testimonials__position">Company Inc.</p>
          <div class="testimonials__desk">
            <p class="testimonials__text">
              Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
              venenatis. semper libero nec sapien condimentum dignissim. Nunc
              ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla
              facilisi. Nullam tristique eros quis nibh tempus, vel viverra
              dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet
              ante a tempus. Aenean gravida massa et ante pulvinar, id
            </p>
          </div>
        </li>
        <li class="swiper-slide testimonials__item">
          <img
            src="./images/swiper1x-mobile.jpg"
            srcset="./images/swiper2x-mobile.jpg 2x"
            alt="One of COSTUMER"
            class="testimonials__image"
          />
          <h3 class="testimonials__name">Jon Doe</h3>
          <p class="testimonials__position">Company Inc.</p>
          <div class="testimonials__desk">
            <p class="testimonials__text">
              Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
              venenatis. semper libero nec sapien condimentum dignissim. Nunc
              ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla
              facilisi. Nullam tristique eros quis nibh tempus, vel viverra
              dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet
              ante a tempus. Aenean gravida massa et ante pulvinar, id
            </p>
          </div>
        </li>
      </ul>

      <ul class="swiper-pagination testimonials__pagination"></ul>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script src="./index.js"></script>
