
<div class="background" id="contact">
    <section class="contact">
        <div class="container">
            <h2 class="contact__title">CONTACT US</h2>

            <div class="contact-wrapper">
               
                <form class="form">

                <div class="form-wrapper">
                    <label class="label" for="user-name"></label>
                    <input class="input" id="user-name" type="text" name="name" placeholder="Name" required>

                    <label class="label" for="input-email"></label>
                    <input class="input input--tablet" id="input-email" type="email" name="email" placeholder="E-mail" required>
                </div>
                    <textarea class="message" id="message" placeholder="Message"></textarea>

                    <div class="contact-btn">
                        <button class="button" type="submit">SUBMIT</button>
                    </div>

                    

                </form>
                

                <div class="wrapper-subscribe">
                    <h3 class="contact__subtitle">Get in touch with us</h3>
                    <p class="contact__text">Nunc urna est, tristique et varius at, pharetra nec enim. Quisque rhoncus
                        lacus fringilla nulla sollicitudin tristique.</p>

                    <ul class="contact-box__list soc-networks">
                        <li class="soc-networks__items">
                            <a class="soc-networks__link" href="#" aria-label="facebook">
                                <svg class="soc-networks__icon" width="20" height="20">
                                    <use href="./images/sprite.svg#icon-footer-facebook"></use>
                                </svg>
                            </a>
                        </li>

                        <li class="soc-networks__items">
                            <a class="soc-networks__link" href="#" aria-label="twitter">
                                <svg class="soc-networks__icon" width="20" height="20">
                                    <use href="./images/sprite.svg#icon-footer-twitter"></use>
                                </svg>
                            </a>
                        </li>

                        <li class="soc-networks__items">
                            <a class="soc-networks__link" href="#" aria-label="linkedin">
                                <svg class="soc-networks__icon" width="20" height="20">
                                    <use href="./images/sprite.svg#icon-footer-in"></use>                        
                                </svg>
                            </a>
                        </li>
                    </ul>

                    <ul class="contact-us">
                        <li class="contact-us__item">
                            <a class="contact-us__link link-tel"
                             href="tel:+xxxxxxxxxxxx">+xx-xxxx-xxxx-xx</a>

                        </li>

                        <li class="contact-us__item">
                            <a class="contact-us__link link-mail"
                                href="mailto:goIteens@gmail.com">goIteens@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <p class="footer__text">&copy; 2019 GoIteens Template. All Rights Reserved</p>
    </footer>

</div>